<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'pages/home', media: 'all' %>
  <% end %>

  <div class="home-page container">
    <div class="row">
      <div class="col-md-3 home-page-header text-center">
        <%= image_tag "logos/long-pink.svg", class: "home-page-header-img" %>
        <%= link_to "Sign Up", new_user_registration_path,
                    class: "btn home-page-header-signup text-center" %>
        <%= link_to "Login", new_user_session_path,
                    class: "home-page-header-login text-center" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 text-center home-page-info">
        <figure class="home-page-info-figure">
          <%= image_tag "home/good-fat.svg", class: "d-block" %>
        </figure>
        <p class="home-page-info-text">Plan</p>
      </div>
      <div class="col-md-3 text-center home-page-info">
        <figure class="home-page-info-figure">
          <%= image_tag "home/meats-and-veggies.svg", class: "d-block" %>
        </figure>
        <p class="home-page-info-text">Find</p>
      </div>
      <div class="col-md-3 text-center home-page-info">
        <figure class="home-page-info-figure">
          <%= image_tag "home/fat-and-veggies.svg", class: "d-block" %>
        </figure>
        <p class="home-page-info-text">Analyse</p>
      </div>
      <div class="col-md-3 text-center home-page-info">
        <figure class="home-page-info-figure">
          <%= image_tag "home/fishy-oils.svg", class: "d-block" %>
        </figure>
        <p class="home-page-info-text">Eat</p>
      </div>
    </div>
  </div>
<% end %>
