<tr>
  <td class="email-main-logo">
    <%= image_tag "mailer/account-header.png" %>
  </td>
</tr>
<tr>
  <td class="email-main-heading">
    <h1><%= t ".need_help" %></h1>
  </td>
</tr>
<tr>
  <td class="email-main-content">
    <p>
      <%= t ".greeting", name: @user.first_name %>
      <br>
      <%= t ".someone_requested" %>
      <br>
      <br>
      <small>
        <%= t ".did_not_request" %>
      </small>
    </p>
  </td>
</tr>
<tr>
  <td class="email-main-action">
    <%= link_to t(".change"),
                edit_password_url(@resource, reset_password_token: @token) %>
  </td>
</tr>
